img{
    width: 4rem;
    height: auto;
}

.logoDiv{
    box-sizing: border-box;
    background-color: #424242;
    width: auto;
    height: auto;
    display:flex;
    align-items: center;
    column-gap: 0.6rem;
}

.logoDiv:hover{
    cursor: pointer;
}