body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  font-family: 'Roboto Slab', serif;
}

a, a:hover{
  text-decoration: none;
}

.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  align-items: center;
}

.zNeg{
  z-index: -1;
  position:fixed;
}

.greenText{
  color:#78E168;
}

.bgGreen{
  background-color:#78E168;
}

.bgBlack{
  background-color: #424242;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
